<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!--  -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<link href="/themat/view/photo/css/main.css" rel="stylesheet">
<!--  -->

<script src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

<style type="text/css">
	.board-title{
		margin-left: 5%; 
	}
	
	nav{
		text-align: center;
	}
	
</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />



	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<!-- Icomoon Icon Fonts-->
	<!-- Simple Line Icons -->
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="/themat/lib/css/bootstrap-datetimepicker.min.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="/themat/lib/css/flexslider.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/themat/lib/css/bootstrap.css">

	<link rel="stylesheet" href="/themat/lib/css/style.css">


	<!-- Modernizr JS -->
	<script src="/themat/lib/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/themat/lib/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<div class="js-sticky">
		<div class="fh5co-main-nav">
			<div class="container-fluid">
				<div class="fh5co-menu-1">
					<a href="/themat/" >home</a>
					<a href="/themat/photo/main.do">Gallery</a>
				</div>
				<div class="fh5co-logo">
					<a href="/themat/">Themat</a>
				</div>
				<div class="fh5co-menu-2">
					<a href="/themat/view/review/reviewMain.html" >Review</a>
					<a href="/themat/view/qna/listForm.html" >Q&A</a>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
		
<div class="header"></div>

<div class="container">
	<div>
	<h1 class="board-title" style="display: inline-block; margin-right: 20px;">Gallery</h1><a id="write" href='#' class="btn btn-primary btn-outline">Write</a>	<hr>
	</div>
	
	<div id="board" class="carouselGallery-grid hidden-xs"></div>		
	
	
</div>

	<nav>
		<ul class="pagination"></ul>
	</nav>		












<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2016 Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo /themat/lib/images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	<!-- jQuery -->
	<script src="/themat/lib/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/themat/lib/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/themat/lib/js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="/themat/lib/js/moment.js"></script>
	<script src="/themat/lib/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="/themat/lib/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/themat/lib/js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="/themat/lib/js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="/themat/lib/js/main.js"></script>



<script id="insta-template" type="text/x-handlebars-template">
	<div class="">
		<div class="carouselGallery-col-100">


            {{#list}}
            <div 
                class="carouselGallery-col-1 carouselGallery-carousel" 
                data-index= {{@index}} 
                data-username={{writer}} 
                data-imagetext={{content}} 
                data-location={{regDate}} 
                data-likes="3144" 
                data-imagepath="/themat/upload{{filePath}}/{{systemName}}"
                data-posturl="main.do" 
				data-no={{no}} 
                style="background-image:url(/themat/upload{{filePath}}/{{systemName}});">
                <div class="carouselGallery-item">
                    <div class="carouselGallery-item-meta">
                        <span class="carouselGallery-item-meta-user">
                            {{title}}
                        </span>
                        <span class="carouselGallery-item-meta-likes">
                            <span class="icons icon-heart"></span>3144
                        </span>
                    </div>
                </div>
            </div>
			{{/list}}
            
            
		</div>
	</div><br><br>
</script>
<script id="list-template" type="text/x-handlebars-template">
		<hr>
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<th>등록일</th>
				</tr>
		{{#list}} 
        <tr> 
            <td>{{no}}</td> 
            <td><a class="detail" id={{no}} href="#">{{title}}</a></td> 
            <td>{{writer}}</td> 
            <td>{{regDate}}</td> 
        </tr> 
        {{/list}} 
			</table>
	<a id="write" href='#'>글쓰기</a>
</script>

<script id="detail-template" type="text/x-handlebars-template">
	<table>		
		<tr>		
		  <td>번호<td>
		  <td id="boardNo">{{board.no}}<td>
		</tr>		
		<tr>		
		  <td>제목<td>
			<td id="boardTitle">{{board.title}}<td>
		</tr>		
		<tr>		
		  <td>글쓴이<td>
			<td id="boardwriter">{{board.writer}}<td>
		</tr>		
		<tr>		
		  <td>내용<td>
			<td id="boardContent">{{board.content}}<td>
		</tr>		
		<tr>		
		  <td>등록일<td>
		  <td id="regDate">{{board.regDate}}</td>	  
		</tr>
		<tr>		
		  <td>첨부파일<td>
		  <td>
		  	<img id="img" src="/themat/upload{{file.filePath}}/{{file.systemName}}"/>
		  </td>	  
		</tr>
	</table>
	<button id="update">수정</button>
	<button id="delete">삭제</button>
</script>

<script id="write-template" type="text/x-handlebars-template">
	<form action='write.do' method='post' enctype="multipart/form-data">
	  글쓴이 : <input type='text' name='writer' /><br>
	  내용 : <br>
	 <textarea name='content' rows='5' cols='70'></textarea><br>
	  첨부파일 : <input type="file" name="attachFile" /><br>
	<input type='submit' value='등록' />
	</form>
</script>

<script id="update-template" type="text/x-handlebars-template">
	<form action='update.do' method='post' enctype="multipart/form-data">
 	 <input type='hidden' name='no' value='{{boardNo}}'>
	  내용 : <br>
	<textarea name='content' rows='5' cols='70'>{{boardContent}}</textarea><br>
	<img id="img" src="{{img}}" style="max-width:500px;"/>
	<input type="file" id="file" name="attachFile" /><br>
	<input type='submit' value='등록' />
	</form>
</script>

<script>
	$("#board").on("click", "#file", function() {
		$("img").remove();		
	});

	$("body").on("click", "#update", function() {
		var board = {
				boardNo : $("#boardNo").html(),
				//boardTitle : $("#boardTitle").html(),
				boardContent : $("#boardContent").html(),
				img : $("#img").attr("src")
		}
		//console.dir(board);

		var source = $("#update-template").html(); 
		var template = Handlebars.compile(source); 
		var html = template(board);
		$("#board").html(html);
		
		removeModal();
		$("nav").hide();
	});
	
	var removeModal = function(){
        $('body').find('.carouselGallery-wrapper').remove();
        $('body').removeClass('noscroll');
        $('body').css('position', 'static');
        $('body').animate({scrollTop: scrollTo}, 0);
    };
	
    
	$("body").on("click", "#delete", function() {
		$.ajax({
			url: "/themat/photo/delete.do?no=" + $("#boardNo").html()
		});
		
		location.href="/themat/photo/main.do";
	});
	
	
	$("#board").on("click", "#write", function() {
		$("nav").hide();
		
		var source = $("#write-template").html(); 
		var template = Handlebars.compile(source); 
		//var html = template(result.board);
		$("#board").html(template);
		
	});
	


	$("#board").on("click", ".detail", function() {
		//console.dir("조회할 글번호", $(this).attr("id") );
		
		$.ajax({
			url: "/themat/photo/detail.do",
			data: {no: $(this).attr("id")},
			dataType: "json"
		})
		.done(detailPhoto) 
	});
	
	function detailPhoto(result) {
		console.dir(result); // 콘솔 확인용
		
		 var source = $("#detail-template").html(); 
		 var template = Handlebars.compile(source); 
		 //var html = template(result.board);
		 var html = template(result);
		$("#board").html(html);
	}

	
	
	
	function makePageList(result) {
		console.dir(result); // 콘솔 확인용
		
//		 var source = $("#list-template").html(); 
		 var source = $("#insta-template").html(); 
		 var template = Handlebars.compile(source); 
		 var html = template(result);
		$("#board").html(html);
		
		makePageLink(result.pageResult);
	}
	
	
	/* function makePageList(result) {
		console.dir(result); // 콘솔 확인용
		
		var html = "";
		for (var i = 0; i < result.list.length; i++) {
			var board = result.list[i];
			html += '<div class=""><div class="carouselGallery-col-100"><div class="carouselGallery-col-1 carouselGallery-carousel" data-index="0" data-username="안쪽 이름" data-imagetext="글 내용!" data-location="부가 설명?" data-likes="3144" data-imagepath="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s640x640/sh0.08/e35/12105099_1702415459987632_609795510_n.jpg" data-posturl="https://instagram.com/p/96UTFPwVaN/" style="background-image:url(https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-15/s640x640/sh0.08/e35/12105099_1702415459987632_609795510_n.jpg);"><div class="carouselGallery-item"><div class="carouselGallery-item-meta"><span class="carouselGallery-item-meta-user">바깥 이름</span><span class="carouselGallery-item-meta-likes"><span class="icons icon-heart"></span>3144</span></div></div></div></div></div>'
		}
		$("#board").html(html);
	} */
	
	
	
	function makePageLink(data) {
		var html = "";
		if (data.count != 0) {
			var clz = "";
			if (data.prev == false) {
				clz = "disabled";
			}
			html += '<li class="' + clz + '">';
			
			var fn = "";
			
			if (data.prev == true) {
				fn = "javascript:pageList(" + (data.beginPage - 1) + ");";
			}
			html += '<a href="' + fn + '" aria-label="Previous">';
			html += '    <span aria-hidden="true">&laquo;</span>';
			html += '</a>';
		    html += '</li>';
			
		    for (var i = data.beginPage; i <= data.endPage; i++) {
		    	if (i == data.pageNo) {
				    html += '<li class="active"><a href="#1">' + i + '</a></li>';
		    	}
		    	else {
		    		html += '<li><a href="javascript:pageList(' + i + ');">' + i + '</a></li>';
		    	}
		    }
		    
			clz = "";
			if (data.next == false) {
				clz = "disabled";
			}
			html += '<li class="' + clz + '">';
			
			fn = "";
			
			if (data.next == true) {
				fn = "javascript:pageList(" + (data.endPage + 1) + ");";
			}
			html += '<a href="' + fn + '" aria-label="Next">';
			html += '    <span aria-hidden="true">&raquo;</span>';
			html += '</a>';
		    html += '</li>';
		} 
		
		$("nav > ul.pagination").html(html);
	}
	
	
	function pageList(pageNo) {
		 if (pageNo === undefined) {
			pageNo = 1;
		}
		$.ajax({
			url: "/themat/photo/list.do",
			data: {pageNo : pageNo},
			dataType: "json"
		})
		.done(makePageList); 
	}
	
	
	pageList();
	
</script>
<!--  -->	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/themat/view/photo/js/main.js"></script>
<!--  -->






</body>
</html>










