<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/themat/lib/js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   .container{ 
  
 width:500px;
   	margin: 0 auto; 
   } 
</style>
</head>


<body>








 	<div class="container">
 	<div id="msg"></div> 
 	<div style="text-align: center; margin-top:150px;">
 	<img src="/themat/lib/images/logo.PNG"/>
 	</div>
 	<div class="well" style=" margin-top:50px;">
 	<form action=""> 
	 <div class="input-group">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	  <input id="email" type="text" class="form-control" name="id" placeholder="ID">
	 </div>
	 <div class="input-group">
	    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
	 </div>
	 <div style="text-align: center;">
 		<button type="button" style="margin-top: 20px;">로그인</button>
 	</div>
 	</form> 
	</div>
</div>

	<script type="text/javascript">
 		$("button").click(function(){
			
 			$.ajax({
 				url:"/themat/member/login.do",
 				data:{
 					id: $("input[name='id']").val(),
 					password: $("input[name='password']").val()
 				},
 				type:"POST",
 				dataType:"json"
 			})
 			.done(function(result){
 				console.log("done들어옴");
 				console.dir(result);
				
 				if(result.id != null){
 					console.log("로그인 성공");
 					location.href="/themat/index.html";
 				} else {
 					console.log("로그인 실패");
 					$("#msg").html("<h2>아이디 혹은 비밀번호가 옳지 않습니다.</h2>");
 				}
				
				
 			});
 		});
	
	</script>

</body>
</html>